version: '3.4'

services:
  node_1:
    build:
      context: ../
      args:
        PROJECT: persistence
        PROJECT_BIN: persistenceCore
        VERSION: v0.1.3
        REPOSITORY: https://github.com/persistenceOne/persistenceCore
        NAMESPACE: PERSISTENCECORE
    environment:
      - MONIKER=node_1
      - CHAIN_JSON=https://raw.githubusercontent.com/cosmos/chain-registry/master/persistence/chain.json
    env_file:
      - ../.env
    volumes:
      - ./node-data:/root/.persistenceCore
