version: '3.4'

services:
  node_1:
    build:
      context: ../
      args:
        PROJECT: starname
        PROJECT_BIN: starnamed
        PROJECT_DIR: .starnamed
        VERSION: v0.10.18
        REPOSITORY: https://github.com/iov-one/starnamed
        NAMESPACE: STARNAME
    ports:
      - '26656:26656'
      - '26657:26657'
    environment:
      - MONIKER=node_1
      - VALIDATE_GENESIS=0
      - CHAIN_JSON=https://raw.githubusercontent.com/betterclever/chain-registry/update-starname-config/starname/chain.json
    env_file:
      - ../.env
    volumes:
      - ./node-data:/root/.starnamed
