version: '3.4'

services:
  node_1:
    build:
      context: ../
      args:
        PROJECT: kichain
        PROJECT_BIN: kid
        VERSION: 2.0.0
        REPOSITORY: https://github.com/KiFoundation/ki-tools
        NAMESPACE: KICHAIN
    environment:
      - MONIKER=node_1
      - CHAIN_JSON=https://raw.githubusercontent.com/cosmos/chain-registry/master/kichain/chain.json
    env_file:
      - ../.env
    volumes:
      - ./node-data:/root/.kid
