version: '3.4'

services:
  node_1:
    build:
      context: ../
      args:
        PROJECT: emoney
        PROJECT_BIN: emd
        VERSION: v1.1.3
        REPOSITORY: https://github.com/e-money/em-ledger
        NAMESPACE: EMD
    ports:
      - '26656:26656'
      - '26657:26657'
    environment:
      - MONIKER=node_1
      - CHAIN_JSON=https://raw.githubusercontent.com/cosmos/chain-registry/master/emoney/chain.json
      - VALIDATE_GENESIS=0
    env_file:
      - ../.env
    volumes:
      - ./node-data:/root/.emd
