version: '3.4'

services:
  node_1:
    build:
      context: ../
      args:
        PROJECT: cosmoshub
        PROJECT_BIN: gaiad
        PROJECT_DIR: .gaia
        VERSION: v5.0.8
        REPOSITORY: https://github.com/cosmos/gaia
        NAMESPACE: GA
    environment:
      - MONIKER=node_1
      - CHAIN_JSON=https://raw.githubusercontent.com/cosmos/chain-registry/master/cosmoshub/chain.json
    env_file:
      - ../.env
    volumes:
      - ./node-data:/root/.gaia
