name: publish
on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 12
      matrix:
        include:
          - project: agoric
            version: agoric-upgrade-7-2
          - project: akash
            version: v0.20.0
          - project: assetmantle
            version: v0.3.0
          - project: autonomy
            version: v1.2.1
          - project: bandchain
            version: v2.5.1
          - project: bitcanna
            version: v1.7.0
          - project: bitsong
            version: v0.14.0
          - project: bostrom
            version: v0.3.2
          - project: canto
            version: v5.0.0
          - project: cerberus
            version: v3.1.0
          - project: cheqd
            version: 0.6.9
          - project: chihuahua
            version: v4.2.3
          - project: comdex
            version: v9.1.2
          - project: cosmoshub
            version: v9.1.1
          - project: cronos
            version: v1.0.4
          - project: cryptoorgchain
            version: v4.2.2
          - project: decentr
            version: v1.6.2
          - project: defund
            version: v0.1.0-alpha
          - project: desmos
            version: v4.8.0
          - project: dig
            version: v3.3.1
          - project: emoney
            version: v1.2.0
          - project: empowerchain
            version: v1.0.0-rc1
          - project: evmos
            version: v12.1.4
          - project: fetchhub
            version: v0.10.6
          - project: gravitybridge
            version: v1.7.2
          - project: impacthub
            version: v0.18.1
          - project: injective
            version: v1.11.1-1685698280
          - project: irisnet
            version: v2.0.1
          - project: jackal
            version: v2.0.1
          - project: juno
            version: v15.0.0
          - project: kava
            version: v0.23.1
          - project: kichain
            version: 5.0.1
          - project: konstellation
            version: v0.5.0
          - project: kujira
            version: v0.8.6
          - project: kyve
            version: v1.2.1
          - project: likecoin
            version: v4.0.0
          - project: lumnetwork
            version: v1.4.1
          - project: mars
            version: v1.0.1
          - project: migaloo
            version: v2.0.2
          - project: neutron
            version: v1.0.2
          - project: nois
            version: v1.0.2
          # - project: nomic
          #   version: stakenet
          - project: omniflixhub
            version: v0.10.0
          - project: osmosis
            version: v15.1.2
          - project: panacea
            version: v2.0.5
          - project: passage
            version: v1.1.0
          - project: persistence
            version: v3.2.0
          - project: regen
            version: v5.1.1
          - project: rizon
            version: v0.4.1
          - project: seinetwork
            version: 1.2.2beta-postfix
          - project: sentinel
            version: v0.9.3
          - project: shentu
            version: v2.5.0
          - project: sifchain
            version: v1.1.0-beta
          - project: sommelier
            version: v4.0.2
          - project: stargaze
            version: v8.0.0
          - project: stride
            version: v9.0.1
          - project: starname
            version: v0.11.5
          - project: teritori
            version: v1.4.0
          # - project: terra
          #   version: v0.5.18
          - project: umee
            version: v3.1.0
          - project: vidulum
            version: v1.2.0
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd ${{matrix.project}}
          docker buildx bake -f build.yml --set node_1.tags=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/}-${{matrix.project}}-${{matrix.version}}${{matrix.tag_suffix}} --push
  build_generic:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 15
    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd generic
          docker buildx bake -f build.yml --set node_1.tags=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/}-generic --push
