name: publish
on:
  push:
    tags:
      - v*


jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - project: akash
            version: v0.14.1
          - project: bandchain
            version: v2.3.2
          - project: bitcanna
            version: v1.2
          - project: bitsong
            version: v0.8.0
          - project: bostrom
            version: v0.2.0
          - project: cheqd
            version: v0.3.1
          - project: chihuahua
            version: v1.1.1
          - project: comdex
            version: v0.0.4
          - project: cosmoshub
            version: v5.0.8
          - project: cryptoorgchain
            version: v3.1.1-croeseid
          - project: desmos
            version: v2.3.1
          - project: dig
            version: v1.1.0
          - project: emoney
            version: v1.1.3
          - project: gravitybridge
            version: v1.3.3
          - project: impacthub
            version: v1.6.0
          - project: irisnet
            version: v1.0.1
          - project: juno
            version: v2.1.0
          - project: kava
            version: v0.15.1
          - project: kichain
            version: 2.0.0
          - project: likecoin
            version: fotan-1.1
          - project: osmosis
            version: v6.1.0
          - project: panacea
            version: v2.0.2
          - project: persistence
            version: v0.1.3
          - project: regen
            version: v2.1.0
          - project: rizon
            version: v0.2.8
          - project: sentinel
            version: v0.8.3
          - project: shentu
            version: v2.2.0
          - project: sifchain
            version: v0.9.14
          - project: stargaze
            version: v1.1.2
          - project: starname
            version: v0.10.18
          - project: terra
            version: v0.5.9
          - project: thorchain
            version: chaosnet-multichain
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd ${{matrix.project}}
          docker buildx bake -f build.yml --set node_1.tags=ghcr.io/${{ github.repository }}:${GITHUB_REF#refs/tags/}-${{matrix.project}}-${{matrix.version}}${{matrix.tag_suffix}} --push
