name: test-skip
on: [push, pull_request]

jobs:
  build_matrix:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - id: set-matrix
        run: echo "matrix=$(find * -type f -name build-skip.yml | xargs dirname | sort | uniq | jq --raw-input . | jq -c --slurp .)" >> $GITHUB_OUTPUT
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

  build:
    needs: build_matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 15
      matrix:
        project: ${{ fromJson(needs.build_matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v3
      - uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - name: Build
        run: |
          touch .env # Create dummy env file
          cd ${{matrix.project}}
          docker buildx bake -f build-skip.yml --set node_1.tags=node
